@charset "utf-8";

/*-----헤더+네비게이션-----*/
body {padding-top:100px;background: #fffbef;}
#header { position:fixed; top:0; z-index: 10; height: 100px; width: 100%; background:url("../images/header_back.png") repeat-x; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.27);}
#header .all,
#header .navi > ul.two, 
#header .close {display:none;}
#header h1 a {right:5%; position: absolute; color:transparent; display: inline-block; background: url("../images/logo111_89.png"); width: 111px; height: 89px;}
#nav {float:left; width: 100%; padding:63px 0 0 8%;}
#nav > ul li {display: inline-block; float:left; padding:0 25PX 0 0;}
#nav > ul li a {height: 18px;line-height: 18px;}
#nav > ul li:hover > a {font-weight: bold; }
#nav > ul li > ul {display:none; background: #fff; position: absolute; margin:10px 0 0 -18px; border:2px solid black; border-radius: 7px;}
#nav > ul li > ul li {float:none; width: 140px; padding: 7px 0; display:block; text-align: center;}
#nav > ul li > ul li:hover > a {font-weight: bold; text-decoration: underline;}


/*-----메인슬라이드-----*/
#main {width:100%; height: 600px; position: relative; overflow: hidden;}
#main_container {position:absolute; width:100%; height: 600px;}
#main_container > div {width:100%; height: 600px; position:absolute;}
#main_container > .slide1 {background:url("../images/slide_1.png") center;background-size:cover;}
#main_container > .slide2 {background:url("../images/slide_2.jpg") center;background-size:cover;}
#main_container > .slide3 {background:url("../images/slide_3.jpg") center;background-size:cover;}
#main_container > .slide4 {background:url("../images/slide_4.png") center;background-size:cover;}
#main_container > .slide5 {background:url("../images/slide_5.png") center;background-size:cover;}
#main_container > div:not(:first-child) {display: none;}

/*-----사이드메뉴-----*/
#aside {width: 100%; background-color: #1c4f46;}
.aside_container {width: 1280px; margin:0 auto; }

#aside .aside_container > #shortcut {padding:2% 0;}
#aside .aside_container > #shortcut ul {width: 90%; margin:0 auto; text-align: center;}
#aside .aside_container > #shortcut ul li {display: inline-block; width: 23%; margin:1%; border:1px solid #ccc;}
#aside .aside_container #shortcut ul li .short_name {border-bottom:1px solid #ccc; color: #ccc; font-size: 18px; padding-bottom:2%; text-align: left; margin:9% 0 0 15%;}
#aside .aside_container #shortcut ul li .short_des {cursor:pointer; border:1px solid #ccc; border-radius: 3px; color: #ccc; display: inline-block; padding:5px 10px; margin: 5%;}

/*-----콘텐츠-----*/
#section {width:100%; background: #fffbef;}
.section_container {width: 1280px; margin:0 auto;}

#section .section_container > .program {background: #fffbef; padding:3%;}
#section .section_container > .program > h2 {width: 96.1%; padding:0 0 0.5% 1.7%; margin:0 auto; border-bottom:2px solid black;}


#movie ul {background:#eee3d3; overflow:hidden; height: 379px; width: 96%; margin:0 auto; padding:1%;}
#movie ul li {display: inline-block; width: 22.5%; height: 330px; margin:1% 1% 4% 1%; }

.mv_container {position: relative;}
.mv_container > div:first-child {color:transparent; position:absolute; height: 330px; width: 100%; background-size:cover; }
.mv_container > div:nth-child(2) {position: absolute; opacity:0; transition:.5s ease; padding:40% 5% 5%; color:#fff; background:#1c4f46; height: 330px; top:0; right:0; left:0;}
.mv_container:hover .overlay {opacity: 1;}
.text b {font-size: 1.3em;}

.poster-01 {background-image: url("../images/poster/agustRush.jpg"); }
.poster-02 {background-image: url("../images/poster/Aladdin.jpg"); }
.poster-03 {background-image: url("../images/poster/beginAgain.jpg"); }
.poster-04 {background-image: url("../images/poster/Callme.jpg"); }
.poster-05 {background-image: url("../images/poster/Inside.jpg"); }
.poster-06 {background-image: url("../images/poster/lalaland.jpg"); }
.poster-07 {background-image: url("../images/poster/once.jpg"); }
.poster-08 {background-image: url("../images/poster/bornto.jpg"); }


/*리뷰&공지*/
#section .section_container > #review {background: #fffbef;}
#section .section_container > #review #tabArea #tabBtn {width: 96.1%; padding:0 0 0.5% 1.7%; margin:0 auto; border-bottom: 2px solid #000;}
#section .section_container > #review #tabArea .tabLi {width:98%; margin:0 auto;height: 229px; background-color:#eee3d3;}
#section .section_container > #review #tabArea > div:nth-child(3) {display:none;}


#section .section_container > #review #tabArea #tabBtn button {color: #666; border:none; font-size: 24px; font-weight: bold; margin-right:2%; cursor: pointer; background: none;}
#section .section_container > #review #tabArea #tabBtn button:hover {color: #000;}
#section .section_container > #review #tabArea #tabBtn button.tabOn {color: #000;}


#section .section_container > #review #tabArea #tab1 {padding:1% 2%; width: 96%;}
#section .section_container > #review #tabArea #tab1 ul li{position: relative; display: inline-block; width: 31%; height: 180px; margin:1.1%; float:left;}
#section .section_container > #review #tabArea #tab1 ul li .quote {font-size: 120px; font-family:'Oswald', sans-serif; position: absolute; top:-20%;}
#section .section_container > #review #tabArea #tab1 ul li > a {background-color: rgba(0,0,0,0.2); position: absolute; top:10%; left:10%; width: 82%; padding:3% 4% 3% 7%; height: 70%; display: inline-block;}
#section .section_container > #review #tabArea #tab1 ul li .name {position: absolute; bottom:7%; left:20%; }
#section .section_container > #review #tabArea #tab1 ul li>span:nth-child(3) {background-size:100%; width: 60px; height: 60px; top:65%;  position:absolute;}

#section .section_container > #review #tabArea #tab1 ul li .people1 {background:url("../images/people1.png");}
#section .section_container > #review #tabArea #tab1 ul li .people2 {background:url("../images/people2.png");}
#section .section_container > #review #tabArea #tab1 ul li .people3 {background:url("../images/people3.png");}


#section .section_container > #review #tabArea #tab2 {padding:1% 2%; width: 96%;}
#section .section_container > #review #tabArea #tab2 .noticeArea .notice {position: relative; margin:1.1% 3%; height: 80%; }
#section .section_container > #review #tabArea #tab2 .noticeArea .notice .quote-left {left:1%; top:-28%; font-size: 120px;font-family:'Oswald', sans-serif; position: absolute;}
#section .section_container > #review #tabArea #tab2 .noticeArea .notice .quote-right {left:95%; top:60%; font-size: 120px;font-family:'Oswald', sans-serif; position: absolute;}
#section .section_container > #review #tabArea #tab2 .noticeArea .notice ul {background-color: rgba(0,0,0,0.2); margin:0 auto; width: 94%; padding:1.7%; line-height: 1.5em;}

#section .section_container > #review #tabArea #tab2 .noticeArea .notice ul li span:first-child {display: inline-block; width: 85%; padding-left:5%; /*background-color: palegoldenrod;*/ text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#section .section_container > #review #tabArea #tab2 .noticeArea .notice ul li span:last-child {display: inline-block; width: 100px; padding-left:1%; /*background-color: skyblue;*/overflow: hidden; }


/*-----모달동영상-----*/

#banner {position: relative; width: 100%; margin:4% 0; height: 200px; background: url("../images/banner1267_200.png") repeat-x center center;}
#banner .container {background: rgba(255,255,255,0.6); display: inline-block; width: 500px; height: 62%; position: absolute; top:50%; left:50%;transform: translate(-50%,-50%); }
#banner .container span,
#banner .container a {position: absolute; display: inline-block;}

#banner .container .min_logo {background: url("../images/logo111_89.png"); width: 111px; height: 89px; left:9%; top:12%; background-size:100% 100%;}
#banner .container a {width: 95px; height: 95px; background: url("../images/you_90.png"); background-size:100% 100%; left:41%; top:10%;}
#banner .container .txt {font-size: 1.2em; font-weight: bold; right:8%; top:35%;}
#modalFrame {background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; top:0; left:0; position: fixed; z-index: 15; display: none; }
#youtube {position: relative; top:50%; left:50%; transform: translate(-50%,-50%); text-align: center;}
#youtube button {border:3px solid black; border-radius: 5px; font-size: 20px; margin-top:10px; background:none; color: #333; cursor: pointer; outline:none; padding:5px 10px; background-color: #fff; font-weight: bold; }


/*-----푸터-----*/
#footer {width:100%;background-color: #ddb0a7;}
.footer_container {width:1280px; margin:0 auto; height: 130px; background-color: #ddb0a7;display:table;}
.footer_container .foot_row {display:table-row;}
.footer_container .foot_row .foot_sns,
.footer_container .foot_row .foot_info,
.footer_container .foot_row .foot_logo { display:table-cell; text-align: center; vertical-align: middle;}
.foot_sns {}
.foot_info {width: 50%;}
.foot_logo a {background: url("../images/logo111_89.png"); width: 111px; height: 89px; display: inline-block; color: transparent;}

