@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Oswald&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #333;
}
body {
    background-color: #fffbef;
}
/*reset 끝*/

/*-----------로그인 내용 시작-----------*/
#con_wrap {
    width: 1000px;
    height: 500px;
    margin:0 auto;
    border: 4px solid #333;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#back { /*콘텐츠 백그라운드*/
    background-image: url("../images/back.png");
    width: 100%;
    padding-top:100px;
    padding-bottom:100px;
}
#con_wrap img{
    margin:20px;
}
#con_wrap p {
    margin:0 auto;
    width: 300px;
    text-align: left;
    font-size: 18px;
}

#con_wrap>form>p>span {
    color: red;
}
#con_wrap input[type="text"],
#con_wrap input[type="password"] {
    height: 45px;
    width: 300px;
    margin-bottom:10px;
    border: 4px solid #000;
    font-size: 18px;
}
#con_wrap button{
    height: 45px;
    border:none;
    width: 300px;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:20px;
    margin-top:10px;
}
#con_wrap div.bottom {
    width: 300px;
    margin:0 auto 70px;
    /* border: 1px solid #000; */
}
#con_wrap div.bottom>a {
    font-size: 25px;
    font-weight: bold;
    display: inline;
}
#con_wrap div.bottom>span{
    margin-left:-10px;
}

/*-----------로그인 내용 끝-----------*/


/*-----------로그아웃 내용 시작-----------*/
#con_wrap p.logout {
    margin:100px auto;
    width: 500px;
    text-align: center;
    font-size:25px;
    font-weight: bold;
}

#con_wrap div.hBtn {
    height: 45px;
    line-height: 45px;
    border:none;
    width: 300px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:20px;
    margin-top:10px;
    margin:50px auto;
}

#con_wrap div.hBtn>a {
    color: #fff;
}

/*-----------로그아웃 내용 끝-----------*/